#!Jinja2

#===========================
# $$$ CYLC SUITE DOCUMENTATION BLOCK

# monitoring-stats :: cylc/suite.rc

# Email: jessica.knezha@noaa.gov

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program.  If not, see
# <http://www.gnu.org/licenses/>.

# =========================================================================

title = "monitoring statistics"
description = "perform statistics monitoring for replay experiments"

# parameters 
{% set MAIL_ADDRESS = 'jessica.knezha@noaa.gov' %}
{% set INITIAL_CYCLE_POINT = 2015010100 %}
{% set FINAL_CYCLE_POINT = 2016010100 %}
#TODO: insert other necessary parameters

[cylc]
    UTC mode = TRUE
    [[environment]]
        MAIL_ADDRESS = {{ MAIL_ADDRESS }}
    [[parameters]]
        statistics = file_count
    
[scheduling]
    initial cycle point = {{ INITIAL_CYCLE_POINT }}
    final cycle point = {{ FINAL_CYCLE_POINT }}
    max active cycle points = 1

    [[dependencies]]
        [[[0Z]]]
            graph = """
            """
        [[[6Z]]]
            graph = """
            """
        [[[12Z]]]
            graph = """
            """
        [[[18Z]]]
            graph = """
            """

[runtime]
    [[root]]
        #retry delays = 2*PT5M # Try again right away, then wait 5 minutes
        init-script = """
            umask 022
            ulimit -c 0
            ulimit -s unlimited
            set -x
        """

        pre-script = """
        """

        post-script = """
        if [[ -d ${CYLC_TASK_WORK_DIR} ]]; then 
            rm -rf ${CYLC_TASK_WORK_DIR}
        fi 
        if [[ -d ${JOBDIR:+"$JOBDIR"} ]]; then 
            rm -rf ${JOBDIR}
        fi
        """

            [[[simulation mode]]]
                run time range = PT2S, PT3S # in simulation mode, 2 seconds per task 

            [[[job submission]]]
                method = background
                shell = /bin/ksh -1 #TODO: I DON'T THINK THIS APPLIES HERE
            
            [[[event hooks]]]
                failed handler = cylc email-task
                submission failed handlet = cylc email-task
    [[GET_DATA]]
        retry delays = 168*PT2H # if job fails, wait two hours and try again
    [[get_data<stats,member>]]
        inherit=GET_DATA
        script = """
        # line to run script 
        print("Hello World 123")
        """
    



    
